#main {
    margin: 0 100px;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 20px 0;
}

.photograph-header #title {
    font-size: 64px;
}

.photograph-header #cityCountry {
    font-size: 24px;
    margin-bottom: 19px;
}

.photograph-header #tagline {
    color: #525252;
    font-size: 18px;
}

.photograph-header article {
    margin-left: 50px;
    order: 1;
}

.photograph-header img {
    order: 3;
    margin-right: 50px;
}


.contact_button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.contact_button:hover {
    background-color: #DB8876;
    color: black;
}

.contact_button:focus {
    background-color: #DB8876;
    color: black;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 170px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 5px;
}


select {
    width: 170px;
    margin-left: 25px;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

option {
    height: 170px;
}

.medias_section {
    margin-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumb-imgfull {
    height: 351px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.thumb-img {
    height: 300px;
    background-color: #C4C4C4;
    border-radius: 5px;
    object-fit: cover;
}

.thumb-textLikes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #901C1C;
}

.fa-heart {
    margin-left: 5px;
}