main {
    margin: 0 100px;
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 20px 0;
}

.photograph-header #title {
    font-size: 64px;
}

.photograph-header #cityCountry {
    font-size: 24px;
    margin-bottom: 19px;
}

.photograph-header #tagline {
    color: #525252;
    font-size: 18px;
}

.photograph-header article {
    margin-left: 50px;
    order: 1;
}

.photograph-header img {
    order: 3;
    margin-right: 50px;
}


.contact_button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.photograph-header .contact_button:hover {
    background-color: #DB8876;
    color: black;
}

.photograph-header .contact_button:focus {
    background-color: #DB8876;
    color: black;
}

#contact_modal {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 209%;
    background-color:rgba(131, 131, 131, 0.5);
}

.modal {
    margin: 13% auto;
    border-radius: 5px;
    width: 669px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 34px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 170px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 5px;
}


select {
    width: 170px;
    margin-left: 25px;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px;
    border-radius: 5px;
}

option {
    height: 170px;
}

.medias_section {
    margin-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumb-imgfull {
    height: 351px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.thumb-img {
    height: 300px;
    width: 350px;
    background-color: #C4C4C4;
    border-radius: 5px;
    object-fit: cover;
}

.thumb-img:hover {
    opacity: 0.8;
}

.thumb-textLikes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.thumb-textLikes .fa-heart {
    cursor: pointer;
}

.thumb-textLikes .fa-heart:hover {
    transform: scale(1.3);
}

.fa-heart {
    margin-left: 5px;
}

.darkSalmonBgColor {
    background-color: #DB8876;
}

.lightbox_section {
    display: none;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    overflow: auto;
}

.lightbox {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1242px;
    height: 900px;
    margin: 9% auto;
}

.lightboxImageText {
    display: flex;
    flex-direction: column;
}

.lightboxImage.active, .lightboxVideo.active {
    opacity: 1;
}

.lightboxImage {
    width: 1050px;
    height: 900px;
    border-radius: 5px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.lightboxVideo {
    width: 1050px;
    height: 900px;
    border-radius: 5px;
}

.lightboxText {
    margin-top: 10px;
    font-size: 24px;
}


.close {
    position: absolute;
    right: 25px;
    margin-top: -25px;
    font-size: 75px;
    background: none;
    border: none;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    font-size: 48px;
    cursor: pointer;
}

.prev {
    top: 50%;
    left: 35px;
}

.next {
    top: 450px;
    right: 35px;
}

.banner {
    width: 376px;
    height: 55px;
    border-radius: 5px;
    position: absolute;
    bottom: -3px;
    right: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.totalLikesHeart {
    display: flex;
    align-items: center;
}