@import url("photographer.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-right: 100px;
}

h1 {
    color: #901C1C;
}

a {
    text-decoration: none;
}

.logo {
    height: 50px;
    margin: 42px 0 0 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    text-align: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    font-size: 36px;
    text-align: center;
}

#image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

#title {
    color: #D3573C;
    font-weight: 400;
}

#cityCountry {
    color: #901C1C;
}

#price {
    color: #757575;
}