@import url("photographer.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 100px;
}

#indexHeader {
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    text-align: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    font-size: 36px;
    text-align: center;
}

.redColor {
    color: #901C1C;
}

#image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

#image:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

#title {
    color: #D3573C;
    font-weight: 400;
}

#price {
    color: #757575;
}

@media screen and (max-width: 1300px) {
    main {
        margin: 50px 25px;
    }
    #indexHeader {
        margin: 0 15px;
        justify-content: space-between !important;
    }
    .logo {
        height: 35px;
    }
    #indexHeader h1 {
        font-size: 25px;
    }
    .photographer_section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}